/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 
  *, *:focus {
    outline:none;
  }

  input,select,button {
    @apply h-10 border p-2 text-sm bg-white rounded-lg;
  }

  table {
    @apply table-fixed;
  }

  table th, table td {
    @apply text-left p-2 text-sm;
  }
  
  tbody tr:nth-child(odd) td{
    @apply bg-blue-100 bg-opacity-50;
  }

  tbody tr:nth-child(odd) td:last-child  {
    @apply rounded-r-md;
  }

  tbody tr:nth-child(odd) td:first-child {
    @apply rounded-l-md;
  }

  tbody tr:nth-child(even) {
    @apply bg-white bg-opacity-50;
  }

  .card {
    @apply bg-white shadow-xl p-4 rounded-lg bg-opacity-90;
    backdrop-filter:blur(6px);
  }

  .blur {
    @apply bg-gray-100;
    backdrop-filter:blur(6px);
  }

}